@model MvcOtomasyon2025Udemy.Models.Department
@{
    ViewBag.Title = "GetDepartment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>GetCategory</h2>
<br />
@using (Html.BeginForm("UpdateDepartment", "Department", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(x => x.DepartmentName)
        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.DepartmentID)
    </div>
}
<br />
<button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>