@model MvcOtomasyon2025Udemy.Models.Category


@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.7.0.js"></script>
<br />
<h2>New Category Page</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CategoryName)
    @Html.TextBoxFor(x => x.CategoryName, new
{
    @class = "form-control"
    })
    <br />
    <button class="btn btn-info" id="Btn1">Save</button>
    <script>
        $('#Btn1').click(function () {
            alert("Kategori başarılı bir şekilde eklendi")
        });
    </script>
</form>
