@model MvcOtomasyon2025Udemy.Models.Category
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>GetCategory</h2>
<br />
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.CategoryID)
    </div>
}
<br />
<button class="btn btn-warning">Güncelle</button>
