@using MvcOtomasyon2025Udemy.Models
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>

            <td>
                @k.CategoryName
            </td>
            <td><a href="/Category/DeleteCategory/@k.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/GetCategory/@k.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Category/AddCategory" class="btn btn-primary">Kategori Ekle</a>