
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

@{ 
    var grf = new Chart(width: 500, height: 500);
    grf.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grf.AddLegend(title: "Değerler");

    grf.AddSeries(
        name: "Veriler",
        chartType:"Pie",
        xValue: new[] { "Beyaz Eşya", "Televizyon", "Bilgisayar", "Küçük Ev Aletleri" },
        yValues: new[] { 500, 250, 340, 620 }

        );
    grf.Write();
}